<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

    <!-- Sidebar Fragment (SIMPLIFIED - CHATBOT REMOVED) -->
    <aside class="sidebar" th:fragment="sidebar">
        <h3>My Banking</h3>
        <ul>
            <!-- The only link needed is to the main dashboard -->
            <li><a th:href="@{/customer/dashboard}">Dashboard</a></li>
        </ul>

        <!-- The chatbot UI has been completely removed from this fragment -->

    </aside>

    <!-- 
      The chatbot-js fragment can be deleted from this file entirely,
      or left here unused. We will remove the call to it from the dashboard.
    -->
    <th:block th:fragment="chatbot-js">
        <!-- This fragment is no longer used by any customer pages -->
    </th:block>

</body>
</html>